*.pt
*.pth
*.npy
models/
landmarks/
landmarks_words/
landmarks_sentences/
*.zip
__pycache__/
*.pyc
*.pyo
.git
.gitignore
.env
*.env
*.log
server.log
database.db
Thumbs.db
.DS_Store
.vscode/
.idea/
*.png
!static/**/*.png
!templates/**/*.png
config.json
