flask
flask-cors
flask-socketio
torch
torchvision
einops
numpy
opencv-python-headless
opencv-contrib-python-headless
onnxruntime
tqdm
Pillow
gtts
gdown
requests
pymysql
transformers
sentencepiece
decord
azure-communication-email
