flask
flask-cors
flask-socketio
flask-limiter
torch
torchvision
einops
numpy
opencv-python-headless
opencv-contrib-python-headless
onnxruntime
tqdm
Pillow
gtts
edge-tts
gdown
requests
pymysql
transformers
sentencepiece
decord
azure-communication-email
azure-identity
azure-storage-blob
